
AddNews.html
AddResult.html
AddStudent.html
app.js
Capture.PNG
commands git.txt
Fixed-vscode-Git-pull-permission-denied-Public-key-on-Mac-OS.png
Git-2.22.0-64-bit.exe
git-cheat-sheet-education.pdf
GitHubDesktopSetup.exe
index.html
New Text Document.txt
new.css
app.js
Capture.PNG
commands git.txt
Fixed-vscode-Git-pull-permission-denied-Public-key-on-Mac-OS.png
Git-2.22.0-64-bit.exe
git-cheat-sheet-education.pdf
GitHubDesktopSetup.exe
index.html
